@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    background-color: #000a1f;
    overflow-x: hidden !important;
}

body{
    background-color: #000a1f !important;
}

.landingSectionTitle{
  margin: 0 !important;
}


.card{
  width: 355px;
  height: 263px;
}


.landingSectionTitle::before {
    content: "";
    position: absolute;
    left: 105%;
    right: 0px;
    top: 70%;
    transform: translateY(-50%);
    height: 4px;
    width: 100vw;
    @apply bg-fun-pink;
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
    color: white !important;
  }

  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #00c7ff !important;
    border-bottom: #00c7ff;
}

.workList::before{
  --tw-content: "▹";
  content: var(--tw-content);
  color: #00c7ff;
  margin-right: 10px;
}
  
  @media (max-width: 768px) {
    .landingSectionTitle::before {
      left: 50%;
      right: auto;
      top: -20px;
      transform: translate(-50%, -50%);
      height: 8px;
      width: 150px;
      @apply bg-fun-pink;
    }
    .landingSectionTitle{
      margin: 0 auto !important;
    }

    
.card{
  width: 355px;
  height: 263px;
}
  }